# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# some other stuff
.ccls-cache/
