@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <div style="width: 130px; display: flex; float: right;">
            <a onclick="window.location='https://www.paypal.me/bertilbraun'" style="cursor: pointer" target="_blank" class="ml-md-auto">
                Donate
            </a>
            <a onclick="alert('Compile C to MiMa Assembly')" style="cursor: pointer" target="_blank" class="ml-md-auto">
                About
            </a>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
